.ttttt{
     width: 100% !important;

     height: 41px !important;
 }
.tttt{

    height: 41px !important;
}
.knopka{
    position: relative;
    width: 50%;
}
div.payment{
    width:50% !important;
}